<%- include('header'); -%>


  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">LetsWatch</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </div>
          </div>
        </nav><!--/.nav-collapse -->


    <div class="container">
      <div class="embed-responsive embed-responsive-16by9" style="margin-top: 20px">
        <iframe class="embed-responsive-item" id="video" src="https://www.youtube.com/embed/pU8-7BX9uxs?enablejsapi=1" allowfullscreen></iframe>
      </div> <!--Embeded Player-->
      </div>

      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/playerControl.js"></script>


<%- include('footer'); %>